@import "tailwindcss";

@theme {
  --color-primary: #EF1C24;
  --color-secondary: #F16065;
  
  --color-text-primary: #222222;
  --color-text-secondary: #3B3B3B;
  --color-text-muted: #515151;
  
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F7FAFC;
  
  --color-border: #EDF2F7;

  --font-sans: "Inter", sans-serif;
  --font-accent: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply font-sans text-text-primary bg-bg-primary antialiased;
  }
  
  h1, h2 {
    @apply font-accent font-bold italic;
  }
  
  h3, h4, h5, h6 {
    @apply font-semibold;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}